<h1 class="center">Leaderboard</h1>
<h3 class="center">Thanks for playing!</h3>


<div class="leaderboard">
	<% @users.each do |user|  %>
		<h3><%= user.name  %><span style="float: right;"><%= user.time.to_i  %></span></h3>
	<% end %>
</div>