// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaderboard {
	width: 20%;
	margin: auto;

	h3 {
		border-bottom: 1px solid black;
		margin-bottom: 5px;
	}
}
